* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
.main_container {
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 90vh;
  width: 80vw;
  /* border: 1px solid black; */
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 5px gainsboro;
}
.signup_form {
  /* border: 1px solid black; */
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.signup_form > h1 {
  font-size: 50px;
}
.signup_form > .logo_container > span {
  padding: 18px;
  border-radius: 50%;
  box-shadow: 0 0 3px gainsboro;
  margin: 0 2px;
}
.signup_form > p {
  color: #464343;
  font-weight: 600;
}
.signup_form > input {
  padding: 15px;
  border-radius: 30px;
  border: none;
  outline: none;
  box-shadow: 0 0 2px gray;
  background-color: whitesmoke;
}
.signup_form > button {
  background-color: #1495cc;
  color: white;
  border: none;
  padding: 15px 40px;
  border-radius: 20px;
  font-weight: 600;
}
.signin_container {
  background-color: #1495cc;
  color: white;
  display: none;
  border-radius: 10px 0px 0px 10px;
}
.signin_container > h1 {
  text-align: center;
}
.signin_container button {
  background-color: #1495cc;
  color: white;
  border: 1px solid white;
  padding: 15px 40px;
  border-radius: 20px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .container {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .container {
    display: flex;
    width: 90%;
  }
  .signup_form {
    width: 50%;
  }
  .signin_container {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
